div {
    display: flex;
}

.toolbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    display: flex;
    align-items: center;
    background-color: white;
    color: white;
    font-weight: 600;
}

.toolbar img {
    margin: 0 16px;
    width: 200px;
}

.body {
    display: flex;
    margin: 82px auto 32px;
    padding: 0 16px;
    max-width: 960px;
    flex-direction: column;
    /* background-color: #f5f5f5; */
    align-items: center;
}
